# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log

# Django
db.sqlite3
media/
staticfiles/
.env
.env.*
*.env

# Written by the deploy script at deploy time - a runtime artifact, not source.
DEPLOYED_COMMIT.txt

# Virtual environment
venv/
env/
.venv/
ENV/

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Migrations (optional – keep if you want)
# **/migrations/*.py
# !**/migrations/__init__.py

# Node (if frontend in same repo)
node_modules/
dist/
